code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

#table{
  display: grid;
  row-gap: 2px;
  column-gap: 1px;
  width: 90%;
  min-height: 90%;
  max-height: 100vh;
  margin: 2em auto;
  padding: 5px;
  background-color: #132434;
}

.square {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  text-align: center;
  background: #fff;
}

.squareSelected{
  background: #ddd;
}

.square:hover{
  background: #ddd;
}

.columnLabel, .rowLabel{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: antiquewhite;
}

.codeInput > *{
  margin: 0;
}

.kbd-navigation .square:focus {
  /*background: #74d10b;*/
}